root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[*.{cmd,bat}]
end_of_line = crlf

[*.{cpp,cs,gradle,java,kt,py,rs}]
indent_size = 4

[*.tsv]
indent_style = tab

[Makefile]
indent_style = tab

# Ignore paths
# [scripts/install/banner.sh]
# indent_size = unset
