# compile env files
declare md5=$(printf '%s' "$(pwd)" | md5sum | awk '{print $1}')
declare compiledFilePath=~/.lucidity/tmp/$md5
mkdir -p $compiledFilePath
cp -R ./environments $compiledFilePath
./scripts/env/compile.env.sh -s "$compiledFilePath/environments/" -o $compiledFilePath -c -w -d

# cleanup
 rm  ./*.compiled.env

# load dev.compiled.env
dotenv "$compiledFilePath/dev.compiled.env"
