name: $(BuildDefinitionName).$(DayOfYear)$(Rev:.r)

trigger:
  - none

pr:
  - none

pool:
  vmImage: "ubuntu-latest"

variables:
  - name: workDir
    value: "$(System.DefaultWorkingDirectory)/IAC/Terraform/terraform"
  - name: runBackupState
    value: true

  #============================================================
  # The following Variables Should Be Set On the Pipeline
  #============================================================
  - name: environmentName
    value: "dev"
  - name: keyVaultArmSvcConnectionName
    value: "Symphony-KV"
  - name: keyVaultName
    value: "kv-symphony-env"
  - name: goVersion
    value: "1.18.1"
  - name: terraformVersion
    value: "1.1.7"

stages:
  - stage: Validate
    displayName: "Validate Configuration"
    jobs:
      - template: ./template.terraform.validate.yml
        parameters:
          goVersion: "$(goVersion)"
          terraformVersion: "$(terraformVersion)"
          keyVaultArmSvcConnectionName: "$(keyVaultArmSvcConnectionName)"
          keyVaultName: "$(keyVaultName)"
          runLayerTest: "false"

      - template: ./template.terraform.previewdeploy.yml
        parameters:
          goVersion: "$(goVersion)"
          terraformVersion: "$(terraformVersion)"
          keyVaultArmSvcConnectionName: "$(keyVaultArmSvcConnectionName)"
          keyVaultName: "$(keyVaultName)"

      - template: ./template.terraform.test.yml
        parameters:
          goVersion: "$(goVersion)"
          terraformVersion: "$(terraformVersion)"
          keyVaultArmSvcConnectionName: "$(keyVaultArmSvcConnectionName)"
          keyVaultName: "$(keyVaultName)"

      - template: ./template.terraform.report.yml
        parameters:
          keyVaultArmSvcConnectionName: "$(keyVaultArmSvcConnectionName)"
          keyVaultName: "$(keyVaultName)"
