name: $(BuildDefinitionName).$(DayOfYear)$(Rev:.r)

trigger:
  - none

pr:
  - none

variables:
  #=============================================================#
  # The following Variables should be set on the pipeline level #
  #=============================================================#

  - name: agentImage
    value: "ubuntu-latest"
  # Commented out to use the values from the Azdo pipeline variables
  # - name: environmentName
  #   value: "dev"

  # - name: locationName
  #   value: "westus"

  # - name: keyVaultArmSvcConnectionName
  #   value: "Symphony-KV"

  # - name: keyVaultName
  #   value: "kv-symphony-environments"

  - name: excludedFolders
    value: ","

pool:
  vmImage: $(agentImage)

jobs:
  - template: ./template.bicep.validate.yml
    parameters:
      environmentName: $(environmentName)
      environmentDirectory: $(environmentName)
      locationName: $(locationName)
      keyVaultArmSvcConnectionName: $(keyVaultArmSvcConnectionName)
      keyVaultName: $(keyVaultName)
      excludedFolders: $(excludedFolders)

  - template: ./template.bicep.previewdeploy.yml
    parameters:
      dependsOn: [ Validate ]
      environmentName: $(environmentName)
      environmentDirectory: $(environmentName)
      locationName: $(locationName)
      keyVaultArmSvcConnectionName: $(keyVaultArmSvcConnectionName)
      keyVaultName: $(keyVaultName)
      excludedFolders: $(excludedFolders)
      branchName: $(Build.SourceBranchName)

  - template: ./template.bicep.test.yml
    parameters:
      dependsOn: [ PreviewDeploy ]
      environmentName: $(environmentName)
      locationName: $(locationName)
      keyVaultArmSvcConnectionName: $(keyVaultArmSvcConnectionName)
      keyVaultName: $(keyVaultName)
      excludedFolders: $(excludedFolders)
