name: $(BuildDefinitionName).$(DayOfYear)$(Rev:.r)

trigger:
  - none

pr:
  - none

pool:
  vmImage: "ubuntu-latest"

variables:
  - name: environmentName
    value: "dev"
  - name: locationName
    value: "westus"
  - name: keyVaultArmSvcConnectionName
    value: "Symphony-KV"
  - name: keyVaultName
    value: "kv-symphony-env"

jobs:
  - template: ./template.bicep.validate.yml
    parameters:
      environmentName: $(environmentName)
      locationName: $(locationName)
      keyVaultArmSvcConnectionName: $(keyVaultArmSvcConnectionName)
      keyVaultName: $(keyVaultName)

  - template: ./template.bicep.previewdeploy.yml
    parameters:
      environmentName: $(environmentName)
      locationName: $(locationName)
      keyVaultArmSvcConnectionName: $(keyVaultArmSvcConnectionName)
      keyVaultName: $(keyVaultName)

  - template: ./template.bicep.test.yml
    parameters:
      environmentName: $(environmentName)
      locationName: $(locationName)
      keyVaultArmSvcConnectionName: $(keyVaultArmSvcConnectionName)
      keyVaultName: $(keyVaultName)
