name: $(BuildDefinitionName).$(DayOfYear)$(Rev:.r)

trigger:
  - none

pr:
  - none

variables:
  - name: agentImage
    value: "ubuntu-latest"

  # Commented out to use the values from the Azdo pipeline variables
  # - name: environmentName
  #   value: "dev"

  # - name: keyVaultArmSvcConnectionName
  #   value: "Symphony-KV"

  # - name: keyVaultName
  #   value: "kv-symphony-environments"

pool:
  vmImage: $(agentImage)

jobs:
  - template: ./template.terraform.destroy.yml
    parameters:
      environmentName: $(environmentName)
      keyVaultArmSvcConnectionName: $(keyVaultArmSvcConnectionName)
      keyVaultName: $(keyVaultName)
      cloudEnvironment: $(cloudEnvironment)
