---
name: $(BuildDefinitionName).$(DayOfYear)$(Rev:.r)

trigger:
  - none

pr:
  - none

variables:
  #=============================================================#
  # The following Variables should be set on the pipeline level #
  #=============================================================#

  # Name of the Agent Pool to use
  - name: agentImage
    value: "ubuntu-latest"

  # Commented out to use the values from the Azdo pipeline variables
  # Name of the Environment
  # - name: environmentName
  #   value: "dev"

  # - name: locationName
  #   value: "westus"


pool:
  vmImage: $(agentImage)

jobs:
  - template: ./template.bicep.destroy.yml
    parameters:
      environmentName: $(environmentName)
      locationName: $(locationName)
