parameters:
  - name: goVersion
    type: string
    default: "1.18.1"
  - name: terraformVersion
    type: string
    default: "1.1.7"
  - name: keyVaultArmSvcConnectionName
    type: string
  - name: keyVaultName
    type: string
  - name: runLayerTest
    type: boolean
    default: true
jobs:
  - job: Validate
    displayName: "Validate"
    workspace:
      clean: resources
    steps:
      - checkout: self

      - task: Bash@3
        displayName: "Setup Toolset"
        inputs:
          workingDirectory: "$(System.DefaultWorkingDirectory)/orchestrators/scripts"
          arguments: ${{ parameters.terraformVersion }}
          bashEnvValue: "~/.profile"
          failOnStderr: true
          targetType: "inline"
          script: |
            ./setup-terraform.sh ${{ parameters.terraformVersion }}
            ./setup-tflint.sh
            ./setup-gitleaks.sh

      - task: GoTool@0
        inputs:
          version: ${{ parameters.goVersion }}
          goBin: "$(System.DefaultWorkingDirectory)"

      - script: echo '##vso[task.prependpath]$(System.DefaultWorkingDirectory)'

      - task: Bash@3
        displayName: "Run gitleaks"
        inputs:
          workingDirectory: "$(System.DefaultWorkingDirectory)/orchestrators/scripts"
          targetType: "inline"
          script: |
            echo 'create ./results directory'
            mkdir results

            source ./scanners.sh
            run_gitleaks './../../IAC/Terraform' './results/gitleaks-report' 'json' 'info'

      - task: PublishTestResults@2
        displayName: "Publish Gitleaks results"
        inputs:
          testResultsFiles: "*.json"
          searchFolder: "$(System.DefaultWorkingDirectory)/IAC/Terraform/results"
          failTaskOnFailedTests: true
          testRunTitle: "Gitleask report"
          mergeTestResults: true

      - task: Bash@3
        displayName: "Run Terraform lint"
        env:
          WORKSPACE_PATH: $(System.DefaultWorkingDirectory)
        inputs:
          workingDirectory: "$(System.DefaultWorkingDirectory)/orchestrators/scripts"
          targetType: "filePath"
          filePath: "orchestrators/scripts/iac.tf.lint.sh"

      - task: AzureKeyVault@2
        displayName: "Pull env cred from Azure Key valut"
        inputs:
          azureSubscription: ${{ parameters.keyVaultArmSvcConnectionName }}
          keyVaultName: ${{ parameters.keyVaultName }}
          secretsFilter: "*"
          runAsPreJob: true

      - task: Bash@3
        displayName: "Run Terraform validate"
        env:
          WORKSPACE_PATH: $(System.DefaultWorkingDirectory)
          ARM_SUBSCRIPTION_ID: $(subscriptionId)
          ARM_TENANT_ID: $(tenantId)
          ARM_CLIENT_ID: $(clientId)
          ARM_CLIENT_SECRET: $(clientSecret)
          STATE_STORAGE_ACCOUNT: $(stateStorageAccount)
          STATE_CONTAINER: $(stateContainer)
          STATE_RG: $(stateRg)
          ENVIRONMENT_NAME: $(environmentName)
        inputs:
          workingDirectory: "$(System.DefaultWorkingDirectory)/orchestrators/scripts"
          targetType: "filePath"
          filePath: "orchestrators/scripts/iac.tf.validate.sh"

      - task: Bash@3
        condition: and(succeeded(), eq('${{ parameters.runLayerTest }}', 'true'))
        displayName: "Run Layers tests"
        env:
          ARM_SUBSCRIPTION_ID: $(subscriptionId)
          ARM_TENANT_ID: $(tenantId)
          ARM_CLIENT_ID: $(clientId)
          ARM_CLIENT_SECRET: $(clientSecret)
          STATE_STORAGE_ACCOUNT: $(stateStorageAccount)
          STATE_CONTAINER: $(stateContainer)
          STATE_RG: $(stateRg)
        inputs:
          workingDirectory: "$(System.DefaultWorkingDirectory)/orchestrators/scripts"
          targetType: "inline"
          script: |
            source ./tests.runner.sh
            azlogin "${ARM_SUBSCRIPTION_ID}" "${ARM_TENANT_ID}" "${ARM_CLIENT_ID}" "${ARM_CLIENT_SECRET}" 'AzureCloud'

            #install junit 
            echo "install go-junit-report"
            go install github.com/jstemmer/go-junit-report@latest

            # set test vars
            export resource_group_name="${STATE_RG}"
            export storage_account_name="${STATE_STORAGE_ACCOUNT}"
            export container_name="${STATE_CONTAINER}"

            pushd ./../../IAC/Terraform/test/terraform         

            echo "Run tests with tag = module_tests"
            terraform module_test true

            popd

      - task: PublishTestResults@2
        condition: and(succeeded(), eq('${{ parameters.runLayerTest }}', 'true'))
        displayName: "Publish Layer tests results"
        inputs:
          testResultsFormat: "JUnit"
          testResultsFiles: "*.xml"
          searchFolder: "$(System.DefaultWorkingDirectory)/IAC/Terraform/test/terraform"
          failTaskOnFailedTests: true
          testRunTitle: "Terraform Layers tests"
          publishRunAttachments: true
          mergeTestResults: true
