parameters:
  - name: goVersion
    type: string
  - name: terraformVersion
    type: string
  - name: keyVaultArmSvcConnectionName
    type: string
  - name: keyVaultName
    type: string

jobs:
  - job: PreviewDeploy
    displayName: "Preview and Deploy"
    workspace:
      clean: resources
    dependsOn: validate

    steps:
      - checkout: self

      - task: Bash@3
        displayName: "Install Terraform"
        inputs:
          filePath: "scripts/orchestrators/setup-terraform.sh"
          workingDirectory: "$(System.DefaultWorkingDirectory)/scripts/orchestrators"
          arguments: ${{ parameters.terraformVersion }}
          bashEnvValue: "~/.profile"
          failOnStderr: true

      - task: GoTool@0
        inputs:
          version: ${{ parameters.goVersion }}
          goBin: "$(System.DefaultWorkingDirectory)"

      - script: echo '##vso[task.prependpath]$(System.DefaultWorkingDirectory)'

      - task: AzureKeyVault@2
        displayName: "Pull env cred from Azure Key vault"
        inputs:
          azureSubscription: ${{ parameters.keyVaultArmSvcConnectionName }}
          keyVaultName: ${{ parameters.keyVaultName }}
          secretsFilter: "*"
          runAsPreJob: true

      - task: Bash@3
        displayName: "Run Terraform plan & Apply"
        env:
          WORKSPACE_PATH: $(System.DefaultWorkingDirectory)
          ARM_SUBSCRIPTION_ID: $(subscriptionId)
          ARM_TENANT_ID: $(tenantId)
          ARM_CLIENT_ID: $(clientId)
          ARM_CLIENT_SECRET: $(clientSecret)
          CLOUD_ENVIRONMENT: $(cloudEnvironment)
          STATE_STORAGE_ACCOUNT: $(stateStorageAccount)
          STATE_CONTAINER: $(stateContainer)
          STATE_RG: $(stateRg)
          ENVIRONMENT_NAME: $(environmentName)
        inputs:
          workingDirectory: "$(System.DefaultWorkingDirectory)/scripts/orchestrators"
          targetType: "filePath"
          filePath: "scripts/orchestrators/iac.tf.previewdeploy.sh"
