parameters:
  - name: environmentName
    type: string
  - name: environmentDirectory
    type: string
  - name: locationName
    type: string
  - name: keyVaultArmSvcConnectionName
    type: string
  - name: keyVaultName
    type: string
  - name: excludedFolders
    type: string
  - name: branchName
    type: string
  - name: dependsOn
    type: object
  - name: jobName
    type: string
    default: "PreviewDeploy"

jobs:
  - job: ${{ parameters.jobName }}
    displayName: "Preview and Deploy ${{ parameters.branchName }}"
    dependsOn: ${{ parameters.dependsOn }}

    steps:
      - checkout: self
        fetchDepth: 0

      - task: Bash@3
        displayName: "Checkout branch"
        inputs:
          bashEnvValue: "~/.profile"
          failOnStderr: true
          targetType: "inline"
          script: |
            git checkout $(parameters.branchName)

      - task: Bash@3
        displayName: "Install Azure CLI"
        inputs:
          filePath: "scripts/orchestrators/setup-azcli.sh"
          workingDirectory: "$(System.DefaultWorkingDirectory)/scripts/orchestrators"
          bashEnvValue: "~/.profile"
          failOnStderr: true

      - task: AzureKeyVault@2
        inputs:
          azureSubscription: ${{ parameters.keyVaultArmSvcConnectionName }}
          keyVaultName: ${{ parameters.keyVaultName }}
          secretsFilter: "*"
          runAsPreJob: true

      - task: Bash@3
        displayName: "Run bicep preview and deploy"
        name: BicepPreviewDeploy
        env:
          WORKSPACE_PATH: $(System.DefaultWorkingDirectory)
          RUN_ID: $(Build.BuildId)
          ENVIRONMENT_NAME: ${{ parameters.environmentName }}
          ENVIRONMENT_DIRECTORY: ${{ parameters.environmentDirectory }}
          LOCATION_NAME: ${{ parameters.locationName }}
          ARM_SUBSCRIPTION_ID: $(subscriptionId)
          ARM_TENANT_ID: $(tenantId)
          ARM_CLIENT_ID: $(clientId)
          ARM_CLIENT_SECRET: $(clientSecret)
        inputs:
          workingDirectory: "$(System.DefaultWorkingDirectory)/scripts/orchestrators"
          targetType: "filePath"
          filePath: "scripts/orchestrators/iac.bicep.previewdeploy.sh"

      - task: Cache@2
        inputs:
          path: "$(System.DefaultWorkingDirectory)/IAC/Bicep/bicep"
          key: '"$(Build.BuildId)"'