parameters:
  - name: environmentName
    type: string
  - name: locationName
    type: string
  - name: keyVaultArmSvcConnectionName
    type: string
  - name: keyVaultName
    type: string
  - name: excludedFolders
    type: string
  - name: dependsOn
    type: object
  - name: previewDeployStageToTest
    type: string
    default: PreviewDeploy

jobs:
  - job: Test
    dependsOn: ${{ parameters.dependsOn }}
    variables:
      - name: bicepJson
        value: $[ dependencies.${{ parameters.previewDeployStageToTest }}.outputs['BicepPreviewDeploy.bicepJson'] ]
    displayName: "E2E Test"
    workspace:
      clean: resources

    steps:
      - checkout: self

      - task: Bash@3
        displayName: "Install required tools"
        inputs:
          workingDirectory: "$(System.DefaultWorkingDirectory)/scripts/orchestrators"
          bashEnvValue: "~/.profile"
          failOnStderr: true
          targetType: "inline"
          script: |
            ./setup-azcli.sh
            ./setup-powershell.sh
            ./setup-pester.sh
            ./setup-benchpress.sh
            ./setup-azpowershell.sh

      - task: AzureKeyVault@2
        inputs:
          azureSubscription: ${{ parameters.keyVaultArmSvcConnectionName }}
          keyVaultName: ${{ parameters.keyVaultName }}
          secretsFilter: "*"
          runAsPreJob: true

      - task: Cache@2
        inputs:
          path: "$(System.DefaultWorkingDirectory)/IAC/Bicep/bicep"
          key: '"$(Build.BuildId)"'

      - task: Bash@3
        displayName: "Run E2E tests"
        env:
          WORKSPACE_PATH: $(System.DefaultWorkingDirectory)
          RUN_ID: $(Build.BuildId)
          ENVIRONMENT_NAME: ${{ parameters.environmentName }}
          LOCATION_NAME: ${{ parameters.locationName }}
          ARM_SUBSCRIPTION_ID: $(subscriptionId)
          ARM_TENANT_ID: $(tenantId)
          ARM_CLIENT_ID: $(clientId)
          ARM_CLIENT_SECRET: $(clientSecret)
          sqlServerResourceGroupName: $(sqlServerResourceGroupName)
          sqlServerName: $(sqlServerName)
          appServiceResourceGroupName: $(resourceGroupName)
          appServicePlanName: $(appServicePlanName)
          appServiceName: $(appServiceName)
        inputs:
          workingDirectory: "$(System.DefaultWorkingDirectory)/scripts/orchestrators"
          targetType: "inline"
          failOnStderr: true
          script: |
            source ./tests.runner.sh

            pushd $(System.DefaultWorkingDirectory)/IAC/Bicep/bicep
              load_dotenv
            popd

            bicep pester

      - task: PublishTestResults@2
        displayName: "Publish E2E test results"
        inputs:
          testResultsFormat: "NUnit"
          testResultsFiles: "*.xml"
          searchFolder: "$(System.DefaultWorkingDirectory)/IAC/Bicep/test/end_to_end"
          failTaskOnFailedTests: true
          testRunTitle: "E2E Test"
          publishRunAttachments: true
          mergeTestResults: true
