name: "Template-TF-PreviewDeploy"
on:
  workflow_call:
    inputs:
      environment:
        description: "Environment"
        required: true
        type: string
        default: "dev"
      terraformVersion:
        description: "Terraform Version"
        required: true
        default: "1.1.7"
        type: string
      branch:
        description: "Branch Name"
        required: true
        type: string
        default: "main"
    secrets:
      azEnvCred:
        required: true

jobs:
  PreviewDeploy:
    name: "Preview and Deploy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch }}

      - name: Setup Toolset
        run: |
          ./setup-azcli.sh
          ./setup-terraform.sh ${{ inputs.terraformVersion }}
        working-directory: orchestrators/scripts
        shell: bash

      - uses: Azure/login@v1
        name: Run Azure Login
        with:
          creds: "${{ secrets.azEnvCred }}"

      - uses: Azure/get-keyvault-secrets@v1
        name: Get KeyVault Secrets
        with:
          keyvault: "kv-symphony-env"
          secrets: "clientid, clientsecret, subid, tenantid, staterg, statecontainer, statestorageaccount"
        id: KvSecrets

      - name: Run TF plan- Apply
        env:
          SUBID: ${{ steps.KvSecrets.outputs.subid }}
          TENANTID: ${{ steps.KvSecrets.outputs.tenantid }}
          CLIENTID: ${{ steps.KvSecrets.outputs.clientid }}
          CLIENTSECRET: ${{ steps.KvSecrets.outputs.clientsecret }}
          STATESTORAGEACCOUNT: ${{ steps.KvSecrets.outputs.statestorageaccount }}
          STATECONTAINER: ${{ steps.KvSecrets.outputs.statecontainer }}
          STATERG: ${{ steps.KvSecrets.outputs.staterg }}
          ENV: ${{ inputs.environment }}
          WORKSPACE_PATH: ${{ github.workspace }}
        run: |
          ./iac.tf.previewdeploy.sh

        working-directory: orchestrators/scripts
        shell: bash
