---
name: "Template-Bicep-Cleanup"

on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      pullRequestNumber:
        type: string
        required: true
      githubEnvironment:
        type: string
        required: true
      tenantId:
        type: string
        required: false
      subscriptionId:
        type: string
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  GetEnvironments:
    name: GetEnvironments
    uses: ./.github/workflows/template.queryevents.yml
    with:
      pipelineName: PR
      eventName: NewEnvironment
      eventGroupId: PR-${{ inputs.pullRequestNumber }}-${{ github.repository_id }}
      githubEnvironment: symphony

  Destroy:
    name: Destroy
    environment: ${{ inputs.githubEnvironment }}
    needs: [GetEnvironments]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Toolset
        run: |
          ./setup-azcli.sh
          source ~/.bashrc
        working-directory: scripts/orchestrators

      - uses: azure/login@v2
        name: Run Azure Login
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ inputs.tenantId || secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ inputs.subscriptionId || secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Run Bicep Destroy
        env:
          WORKSPACE_PATH: ${{ github.workspace }}
          RUN_ID: ${{ github.run_id }}
          NEW_ENVIRONMENT_EVENTS_JSON: ${{ needs.GetEnvironments.outputs.events }}
        run: |
          # NEW_ENVIRONMENT_EVENTS_JSON is an array of events.
          # Each event has a Name, SHA and Location properties.
          # For each event, we want to checkout the .SHA commit, get the .Name environment name
          # and the Location of the environment, and pass it to the destroy script.

          for event in $(echo "${NEW_ENVIRONMENT_EVENTS_JSON}" | jq -c '.[]'); do
              sha=$(echo "${event}" | jq -r '.SHA')
              name=$(echo "${event}" | jq -r '.Name')
              location=$(echo "${event}" | jq -r '.Location')

              git checkout "${sha}"
              echo "Destroying environment: $name"
              export ENVIRONMENT_NAME=$name
              export LOCATION_NAME=$location

              ./iac.bicep.destroy.sh
          done

        working-directory: scripts/orchestrators
