---
name: "Template-Bicep-Destroy"

on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      environmentName:
        type: string
        required: true
      locationName:
        type: string
        required: true
      branchName:
        required: true
        type: string
      githubEnvironment:
        type: string
        required: true
      tenantId:
        type: string
        required: false
      subscriptionId:
        type: string
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  Destroy:
    name: Destroy
    runs-on: ubuntu-latest
    environment: ${{ inputs.githubEnvironment }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branchName }}

      - name: Setup Toolset
        run: |
          ./setup-azcli.sh

        working-directory: scripts/orchestrators

      - uses: azure/login@v2
        name: Run Azure Login
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ inputs.tenantId || secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ inputs.subscriptionId || secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Run Bicep Destroy
        env:
          ENVIRONMENT_NAME: ${{ inputs.environmentName }}
          LOCATION_NAME: ${{ inputs.locationName }}
          WORKSPACE_PATH: ${{ github.workspace }}
          RUN_ID: ${{ github.run_id }}
        run: |
          ./iac.bicep.destroy.sh
        working-directory: scripts/orchestrators
