name: "Template-Bicep-PreviewDeploy"

on:
  workflow_call:
    inputs:
      environmentName:
        type: string
        required: true
      locationName:
        type: string
        required: true
      keyVaultName:
        type: string
        required: true
      branchName:
        required: true
        type: string
    secrets:
      azureEnviromentCredentials:
        required: true

jobs:
  PreviewDeploy:
    name: "Preview and Deploy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branchName }}

      - name: Setup Toolset
        run: |
          ./setup-azcli.sh
        working-directory: scripts/orchestrators

      - uses: Azure/login@v1
        with:
          creds: "${{ secrets.azureEnviromentCredentials }}"
          environment: "AzureCloud"

      - name: Get KeyVault Secret(s)
        id: LoadSecrets
        env:
          SECRETS: "clientId, clientSecret, subscriptionId, tenantId"
        run: |
          OIFS=$IFS
          IFS=', '
          for secretname in $SECRETS
          do
            secret=$(az keyvault secret show --name $secretname --vault-name ${{ github.event.inputs.keyVaultName }} --query "value")
            echo "::add-mask::$secret"
            echo "$secretname=$secret" >> $GITHUB_OUTPUT
          done
          IFS=$OIFS

      - name: Run Bicep Deploy
        id: BicepDeploy
        env:
          ENVIRONMENT_NAME: ${{ github.event.inputs.environmentName }}
          LOCATION_NAME: ${{ github.event.inputs.locationName }}
          WORKSPACE_PATH: ${{ github.workspace }}
          RUN_ID: ${{ github.run_id }}
        run: |
          export ARM_TENANT_ID=${{ steps.LoadSecrets.outputs.tenantId }}
          export ARM_SUBSCRIPTION_ID=${{ steps.LoadSecrets.outputs.subscriptionId }}
          export ARM_CLIENT_ID=${{ steps.LoadSecrets.outputs.clientId }}
          export ARM_CLIENT_SECRET=${{ steps.LoadSecrets.outputs.clientSecret }}
          ./iac.bicep.previewdeploy.sh
        working-directory: scripts/orchestrators

      - name: Cache Environment
        id: cache-env
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/IAC/Bicep/bicep/.env
          key: ${{ runner.os }}-${{ github.run_id }}-bicep-env