name: "Template-Bicep-Validate"
on:
  workflow_call:
    inputs:
      environmentName:
        type: string
        required: true
      locationName:
        type: string
        required: true
      keyVaultName:
        type: string
        required: true
      branchName:
        required: true
        type: string
    secrets:
      azureEnviromentCredentials:
        required: true

jobs:
  Validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branchName }}

      - name: Setup Toolset
        run: |
          ./setup-azcli.sh
          ./setup-gitleaks.sh
          ./setup-powershell.sh
          ./setup-pester.sh
          ./setup-armttk.sh
          ./setup-shellspec.sh
          source ~/.bashrc
        working-directory: scripts/orchestrators

      - name: Run Gitleaks
        run: |
          source ./scanners.sh
          run_gitleaks './../../' 'sarif' 'info' 'true' 'true'
        working-directory: scripts/orchestrators

      - uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: gitleaks-report
          path: scripts/orchestrators/gitleaks-report.*

      - name: Upload Gitleaks SARIF report to code scanning service
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: scripts/orchestrators/gitleaks-report.sarif

      - name: Run Bicep Lint
        env:
          WORKSPACE_PATH: ${{ github.workspace }}
        run: |
          ./iac.bicep.lint.sh
        working-directory: scripts/orchestrators

      - uses: Azure/login@v1
        name: Run Azure Login
        with:
          creds: "${{ secrets.azureEnviromentCredentials }}"
          environment: "AzureCloud"

      - name: Get KeyVault Secret(s)
        id: LoadSecrets
        env:
          SECRETS: "clientId, clientSecret, subscriptionId, tenantId"
        run: |
          OIFS=$IFS
          IFS=', '
          for secretname in $SECRETS
          do
            secret=$(az keyvault secret show --name $secretname --vault-name ${{ github.event.inputs.keyVaultName }} --query "value")
            echo "::add-mask::$secret"
            echo "$secretname=$secret" >> $GITHUB_OUTPUT
          done
          IFS=$OIFS

      - name: Run Bicep Validate
        env:
          ENVIRONMENT_NAME: ${{ github.event.inputs.environmentName }}
          LOCATION_NAME: ${{ github.event.inputs.locationName }}
          WORKSPACE_PATH: ${{ github.workspace }}
          RUN_ID: ${{ github.run_id }}
        run: |
          export ARM_TENANT_ID=${{ steps.LoadSecrets.outputs.tenantId }}
          export ARM_SUBSCRIPTION_ID=${{ steps.LoadSecrets.outputs.subscriptionId }}
          export ARM_CLIENT_ID=${{ steps.LoadSecrets.outputs.clientId }}
          export ARM_CLIENT_SECRET=${{ steps.LoadSecrets.outputs.clientSecret }}
          ./iac.bicep.validate.sh
        working-directory: scripts/orchestrators
