name: "Main Terraform"

on:
  # push:
  #   branches: [main]
  # pull_request:
  #   branches: [main]

  workflow_dispatch:
    inputs:
      environment:
        description: "Environment"
        required: true
        default: "dev"
      goVersion:
        description: "Go Version"
        required: true
        default:  "1.18.1"
      terraformVersion:
        description: "Terraform Version"
        required: true
        default:  "1.1.7"
      backupstatefiles:
        description: "Run Backup State Files"
        required: true
        default:  "true"

jobs:
  Validate:
    uses: ./.github/workflows/templates/tf_validate.yml
    with:
        environment: ${{ github.event.inputs.environment }}
        terraformVersion: ${{ github.event.inputs.terraformVersion }}
        goVersion: ${{ github.event.inputs.goVersion }}
        runLayerTest: false
        branch: main
    secrets:
        azEnvCred: ${{ secrets.AZURE_CREDENTIALS }}
    
  PreviewDeploy:
    uses: ./.github/workflows/tf_previewdeploy.yml
    needs: Validate
    with:
        environment: ${{ github.event.inputs.environment }}
        terraformVersion: ${{ github.event.inputs.terraformVersion }}
        branch: main
    secrets:
        azEnvCred: ${{ secrets.AZURE_CREDENTIALS }}

  Test:
    uses: ./.github/workflows/tf_test.yml
    needs: PreviewDeploy
    with:
        environment: ${{ github.event.inputs.environment }}
        terraformVersion: ${{ github.event.inputs.terraformVersion }}
        goVersion: ${{ github.event.inputs.goVersion }}
        branch: main
    secrets:
        azEnvCred: ${{ secrets.AZURE_CREDENTIALS }}
    
  Report:
    uses: ./.github/workflows/tf_report.yml
    needs: PreviewDeploy
    with:
        environment: ${{ github.event.inputs.environment }}
        branch: main
    secrets:
        azEnvCred: ${{ secrets.AZURE_CREDENTIALS }}
    if: ${{ github.event.inputs.backupstatefiles == 'true' }}