---
name: "Cleanup Terraform"

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      pullRequestNumber:
        description: "Pull Request Number"
        required: true
      terraformVersion:
        type: string
        required: true
        default: "1.11.0"

permissions:
  id-token: write
  contents: read

jobs:
  Destroy:
    uses: ./.github/workflows/template.terraform.cleanup.yml
    with:
      pullRequestnumber: ${{ github.event.inputs.pullRequestNumber }}
      terraformVersion: ${{  github.event.inputs.terraformVersion }}
      githubEnvironment: symphony
    secrets: inherit
