---
name: "CI Terraform"

on: # yamllint disable-line rule:truthy
  # push:
  #   branches: [main]
  # pull_request:
  #   branches: [main]

  #=============================================================#
  # The following Variables should be set on the workflow level #
  #=============================================================#
  workflow_dispatch:
    inputs:
      environmentName:
        description: "Name of the Environment"
        required: true
        default: "dev"
      goVersion:
        description: "Go Lang version"
        required: true
        default: "1.18.1"
      terraformVersion:
        description: "Terraform version"
        required: true
        default: "1.6.2"
      keyVaultName:
        description: "Environment Key Vault Name"
        required: true
        default: "kv-symphony-environments"
      runLayerTest:
        description: "Run Layers Tests"
        type: boolean
        required: true
        default: false
      backupStateFiles:
        description: "Run Backup State Files"
        type: boolean
        required: true
        default: true

jobs:
  Validate:
    uses: ./.github/workflows/template.terraform.validate.yml
    with:
      environmentName: ${{ github.event.inputs.environmentName }}
      environmentDirectory: ${{ github.event.inputs.environmentName }}
      terraformVersion: ${{ github.event.inputs.terraformVersion }}
      goVersion: ${{ github.event.inputs.goVersion }}
      keyVaultName: ${{ github.event.inputs.keyVaultName }}
      runLayerTest: ${{ github.event.inputs.runLayerTest }}
      branchName: ${{ github.ref_name }}
    secrets:
      azureEnviromentCredentials: ${{ secrets.AZURE_CREDENTIALS }}
    permissions:
      actions: write
      contents: write
      security-events: write
      pull-requests: write
      checks: write

  PreviewDeploy:
    needs: Validate
    uses: ./.github/workflows/template.terraform.previewdeploy.yml
    with:
      environmentName: ${{ github.event.inputs.environmentName }}
      environmentDirectory: ${{ github.event.inputs.environmentName }}
      terraformVersion: ${{ github.event.inputs.terraformVersion }}
      keyVaultName: ${{ github.event.inputs.keyVaultName }}
      branchName: ${{ github.ref_name }}
    secrets:
      azureEnviromentCredentials: ${{ secrets.AZURE_CREDENTIALS }}

  Test:
    uses: ./.github/workflows/template.terraform.test.yml
    needs: PreviewDeploy
    with:
      environmentName: ${{ github.event.inputs.environmentName }}
      terraformVersion: ${{ github.event.inputs.terraformVersion }}
      goVersion: ${{ github.event.inputs.goVersion }}
      keyVaultName: ${{ github.event.inputs.keyVaultName }}
      branchName: ${{ github.ref_name }}
    secrets:
      azureEnviromentCredentials: ${{ secrets.AZURE_CREDENTIALS }}

  Report:
    needs: PreviewDeploy
    if: ${{ github.event.inputs.backupStateFiles == 'true' }}
    uses: ./.github/workflows/template.terraform.report.yml
    with:
      environmentName: ${{ github.event.inputs.environmentName }}
      keyVaultName: ${{ github.event.inputs.keyVaultName }}
      branchName: ${{ github.ref_name }}
    secrets:
      azureEnviromentCredentials: ${{ secrets.AZURE_CREDENTIALS }}
